<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../../static/js/index.js" defer></script>
    <link rel="stylesheet" href="/css/index.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Street People</title>
</head>
<body>
    <div id="nav">
        <h1 id="title"><a href="#">New Street People</a></h1>
        <ul id="nav_list">
            <li>New Release</li>
            <li id="toggle">Hot Sale</li>
            <li>Best 30</li>
            <li>Top</li>
            <li>Bottom</li>
            <li>Outer</li>
            <li>Hoodie & Zip Up</li>
            <li>Others</li>
        </ul>
    </div>
</body>
</html>